  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">

        <div class="accordion" id="accordion2">

          <!-- Atividade -->

          <div class="accordion-group">
            <div class="accordion-heading" style="text-align: center;">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#Atividades">
                <b>Camadas</b>
              </a>
            </div>

            <div id="Atividades" class="accordion-body collapse in">
              <div class="accordion-inner">
                <% @atividades.each do |atividade| %>
                <li class="tipo">
                  <%= check_box(atividade.nome, atividade.id, :class => 'checkbox-atividade', :onclick => 'CarregarAtividades(this.id)' ) %>
                  <%= truncate(atividade.nome, :length => 18, :omission => '...') %>
                  <%= image_tag atividade.imagem.url(:thumb), :width => '24', :height => '24', :style => 'float:right', :alt => atividade.nome, :title => atividade.nome %>
                </li>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </ul>
    </div>
  </div>
