<!DOCTYPE html>

<!--
    Mapa da Cultura - GPLv3
    Copyright (C) 2013-2016 Marcelo Soares Souza <marcelo@libertais.org>

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Observatório LGBT"/>

    <title><%= content_for?(:title) ? yield(:title) : "Observatório LGBT" %></title>

    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  </head>

  <body onload="uncheck()">

    <%= javascript_include_tag "application" %>
    <%= yield :scripts %>

  <div id="main-area">
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="<%= home_index_path %>"><%= image_tag("logo.png", alt: "Observatório LGBT") %></a>

          <div class="container-fluid nav-collapse">
            <%= render 'layouts/menu' %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid" <%= 'id="main-content"'.html_safe if (controller.controller_name == 'home' && controller.action_name == 'index')%>>
        <%= render 'layouts/left' if (controller.controller_name == 'home' && controller.action_name == 'index')%>

        <%
          if controller.controller_name == 'home'
            @HomeSize = "span9"
          else
            @HomeSize = "span12"
          end
        %>

        <div class="<%= @HomeSize %>">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </div>
  </body>
</html>
